body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    font-size: 18px;
    margin: 5px 0;
}
